/* Fonts >>> */
@font-face {
    font-family: "Circe";
    src: url("../fonts/CRC55.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Circe";
    src: url("../fonts/CRC65.otf");
    font-weight: 600;
}
@font-face {
    font-family: "Circe";
    src: url("../fonts/CRC35.otf");
    font-weight: 300;
}

// Variables =======
$light-red: #FCBF3C;
$red: #F4791F;
$black: #1E1E1E;
$light-grey: #FCFCFC;
$dark-grey: #F9F9F9;
$border-color: #EBEBEB;
$font: 'Circe';

$large: 1200px;
$medium: 992px;
$small: 768px;
$x-small: 465px;

body {
	background-color: $dark-grey;
	font-family: $font;
	font-weight: 300;
	color: $black;
}
#progressbar {
	width: 100%;
	height: 8px;
	padding: 20px 0;
	svg {
		border-radius: 5px !important;
	}
}
/* Header BEGIN ========= */
#header {
	background-color: $light-grey;

	.title {
		padding: 30px 0;
	}
	.date {
		border-top: 1px solid $border-color;
		background-color: $dark-grey;
		padding-top: 30px;
		padding-bottom: 20px;
		font-size: 14px;

		i {
			padding-right: 5px;
		}
	}

	img {
		display: inline-block;
		float: left;
		max-width: 8%;
		margin-left: 10px;
	}
	
	.description {
		margin-left: 15px;
		width: 80%;
		display: inline-block;
		a {
			line-height: 1.4em;
			font-family: $font;
			font-size: 1.6em;
			font-weight: 500;
			color: $black;
			text-shadow: none;
		}
	}
}
/* Header END */

/* Questions BEGIN =========== */
.red_element {
	width: 40px;
	height: 20px;
	border-radius: 5px;
	background-image: linear-gradient( 135deg, $light-red 30%, $red 100%);
	position: relative;
	right: 4.6%;
	top: 30px;
}
.question {
	background-color: $light-grey;
	padding: 10px 15px 30px 15px;
	box-shadow: 27px 27px 55px #E9E9E9;
	margin-bottom: 70px;
	border-radius: 8px;

	a {
		font-size: 1.25em;
		line-height: 1.45em;
		span {
			font-size: 26px;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		hr {
			width: 190px;
		    display: block;
		    height: 1px;
		    border: 0;
		    border-top: 1px solid $border-color;
		    margin: 0.4em 0;
		    padding-bottom: 20px;
		}
	}
	.rb {
		height: 20px;
		width: 20px;
	}
	label {
		a {
			margin-left: 40px;
			margin-top: 15px;
		}
	}
}
/* Questions END ============ */

/* Facebook commentaries BEGIN */
#footer {
	background-color: #F3F3F3;
	box-shadow: 27px 27px 55px #E9E9E9;
	padding: 0 0;
	border-radius: 8px;

	.date {
		padding: 25px 30px 20px 30px;
		border-bottom: 1px solid $border-color;
	}
	
	table {
		background-color: $light-grey !important;
		tbody {
			tr {
				border-bottom: 1px solid $border-color;

				&:last-child {
					border: none;
				}
			}
			td {
				padding-left: 10px;
				padding-bottom: 10px;
				padding-top: 10px;

				&:last-child {
					padding-bottom: 20px;
				}
				a.name {
					color: #4267B2;
				}
			}
		}		
	}
}
.footer__image {
	padding: 30px 0;
	img {
		width: 70px;
	}
}
/* Facebook commentaries END */

/* Last screen BEGIN  ======== */
.timer {
	// display: inline-block;
	float: right;
	padding-right: 15px;
	display: none;
	a {
		font-size: 18px;
		strong {
			color: $red;
			font-weight: 600;
		}
		span {
			color: #95989A;
			font-size: 18px;
		}
	}
}
#bridge {
	h2 {
		padding-top: 30px !important;
		a {
			strong {
				padding-left: 20px;
				
			}
		}
	}
}

#final {
	.final__title {
		text-align: center;
		padding-top: 20px;
		// padding-bottom: 20px;
		font-size: 26px;
		font-weight: 500;

		strong {
			border-bottom: 1px solid $border-color;
		}
	}
	.prize-img {
		img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
			height: auto;
			padding-top: 0;
			border: 5px solid $border-color;
		}
	}
	.final__description {
		h4 {
			text-align: center;
			padding: 15px 0;
			font-size: 20px;
			a {
				color: #6F9CEC;
			}
		}
		p {
			text-align: center;
			padding: 0 20px;
			font-size: 20px;
			line-height: 29px;
		}
	}
	.claimbutton {
		padding-bottom: 40px;
		a {
			display: block;
			text-align: center;
			width: 280px;
			margin: 0 auto;
			// background-color: #F7273F;
			text-decoration: none;
			color: #fff;
			padding: 20px 30px;
			margin-top: 20px;
			border-radius: 8px;
			background-image: linear-gradient( 195deg, #F4791F 0%, #FF7E67 100%);
			box-shadow: 0 4px 11px #C4C4C4;
			transition: 0.2s ease-in-out;
			font-weight: 800;
			font-size: 20px;

			&:hover {
				// transform: scale(0.5, 0.5);
			}
		}
	}
}
/* Last screen END ========= */

/* Popup style BEGIN =========== */
.msgbox-alert {
	padding: 10px;
	background-color: $dark-grey !important;
	border-radius: 8px;
	border: none !important;
	// width: 40%;
}
.msgbox-msg {
		a {
			// display: inline-block;
			font-size: 19px;
			width: 100%;
			line-height: 28px;
			font-family: Circe;
			// padding: 20px 20px !important;
		}

		form {
			// padding: 20px 20px;
	}
}
.msgbox-buttons {
	background-color: $dark-grey !important;
	.msgbox-button {
		display: block;
		margin: 0 auto;
		width: 130px;
		height: 50px;
		cursor: pointer;
		// margin-top: 15px;
		margin-bottom: 15px;
		border: none;

		/* Here you can change the button background color :) */
		background-color: #30E36C;
		font-weight: 500;
		border-radius: 4px;
		font-size: 20px;
		color: $black;
	}
}
/* Popup style END */

/* Mobile styles BEGIN =============== */
@media screen and (max-width: $large) {
	.border {
		display: block;
		margin: 0 auto !important;
	}
}
@media screen and (max-width: $small) {
	// Header 
	#header {
		.title {
			padding-left: 10px;
			a {
				img {
					max-width: 10%;
				}
			}
		}
		.description {
			p {
				font-size: 1.1em;
			}
			h1 {
				font-size: 1.1em;
			}
		}
	}

	.red_element {
		display: none;
	}
	.question {
		ul {
			padding-bottom: 25px !important;
		}
	}
	.prize-img {
		img {
			display: block !important;
			margin: 0 auto !important;
		}
	}
	.claimbutton {
		a {
			width: 80% !important;
		}
	}
}
@media screen and (max-width: $x-small) {
	#header {
		.description {
			p {
				font-size: 0.8em;
			}
			h1 {
				font-size: 0.8em;
			}
		}
	}
	#bridge {
		h2 {
			padding: 0 20px;
			a {
				// padding: 20px;
				font-size: 24px;
			}
		}
	}
}
/* Mobile Styles END ================== */

/* Notification window BEGIN */
.notification__window {
	display: none;
	position: fixed;
	width: 150px;
	height: 150px;
	background-color: #FCFCFC;
	border: 1px solid $border-color;
	right: 20px;
	top: 20px;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.45em;
	box-shadow: 0 4px 11px #E9E9E9;

	p {
		margin: 0;
	}

	.notification__title, .notification__model {
		font-weight: 600;
		font-size: 1.3em;
	}
}
/* Notification window END */